.cc{
  margin-top: 4.5%;
  margin-left: 65%;
}


.leftcluster{
  display:inline-block;
  width:40%;
  margin-top:6%;
  margin-left:6%;
}



.bottomtext{
  display: inline-block;
  color: white;
  width: 400px;
  text-align: left;
  margin-top:50px;
  margin-left: 25px;
}

.callbox{
  display: block;
  position: relative;
  box-shadow:0px 1px 2px 4px #f4f3f3;
  margin:auto;
  margin-top: 10%;
  margin-bottom: -6%;
  width: 45%;
  height: 40%;
  border-style: none;
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  z-index: 100;
  background-color: white;
}
.pb{
  width:45%;
  height: 30%;
  margin:auto;
}
.linkscol1{
  display: inline-block;
  position: absolute;
  line-height: 240%;
  margin-top: 17%;
}
.linkscol2{
  display: inline-block;
  position: absolute;
  line-height: 240%;
  margin-top: 17%;
  margin-left: 20%;
}
.socicons{
  position: relative;
  display:inline-block;
  border-style: solid;
  border-width:2px;
  border-color: white;
  border-radius: 100%;
  padding: 2px;
  margin-left:10px;

}
.socons{
  display: inline-block;
  position: absolute;
  margin-left: 35%;
  margin-top:20%;
}
.bottomcontainer{
    display: block;
    position: absolute;
    margin-top: 0;
    background-color:#015668;
    height: 560px;
    width: 1280px;
    z-index: 50;
  }
.lowlogo{
  display: block;
  margin-top:12%;
  margin-left: 8%;

}
.pin{
  display: inline-block;
  margin-top:3%;
  margin-left:8%;
  margin-bottom: 60px;
}
.phone{
  display: inline-block;
  margin-top:1%;
  margin-left:8%;
  margin-right:25px;
  margin-bottom: 0;
}
.maillogo{
  display: inline-block;
  margin-top:1%;
  margin-left:8%;
  margin-right:25px;
  margin-bottom: 0;
}



/**************************************************************
INACTIVE
***************************************************************/


/***************************************************************
BUTTONS
****************************************************************/
.TryButton {
  margin-left: 60%;
  margin-top: 3%;
  position: absolute;
  display: inline-block;
  box-shadow: 0px 10px 14px -7px #a3a3a3;
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  background-color: #ffffff;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  padding: 19px 68px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #f5f5f5;
}

.TryButton:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  background-color: #ffffff;
}

.TryButton:active {
  position: relative;
  top: 1px;
}

.PinkButton {
  margin-top:13px;
  background-color: #ff6bee;
  border-radius: 34px;
  display: inline-block;
  box-shadow: 0px 10px 14px -7px #a3a3a3;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 19px 61px;
  text-decoration: none;
  text-shadow: -1px 0px 0px #3d768a;
}

.PinkButton:hover {
  background-color: #eb32df;
}

.PinkButton:active {
  position: relative;
  top: 1px;
}

/************
ATTRIBUTIONS
*************/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #eb32df;
}

/**************
TAG SELECTORS
***************/
body {
  font-family: 'Open Sans';
  color: hsl(192, 100%, 9%);
  width: 1280px;
  margin:0;
  Font-size: 18px;
  align-items: center;
  padding: 0;
}

h3 {
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 22pt;

}

h2 {
  font-family: 'Poppins';
  font-size: 28pt;
  font-weight: 600;
  text-align: left;
  line-height: 150%;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Poppins';
}

p {
  display: inline-block;
  margin-top: 0;
}
a {
  color: white;
  font-family: 'Open Sans';
  text-decoration: none;
}
/************
CLASS BOXES
************/
.backsvg {
  display: block;
  position: absolute;
  width: 1280px;
  background-color: hsl(193, 100%, 96%);
}
.bbut{
  display: block;
  margin:auto;
}
.box1{
  display: inline-block;
  position: relative;
  box-shadow:0px 1px 8px 5px #f4f3f3;
  margin-left: 3.5%;
  margin-top: 175px;
  width: 85%;
  height: 50%;
  border-style: none;
  border-radius: 15px;
  padding: 40px;
}

.text1{
  display: inline-block;
  position: absolute;
  margin-top: 4%;
  margin-left: 8%;
  margin-bottom: 20px;
  width: 42%;
}
.grow{
  display: inline-block;
  position: relative;
  width:33%;
  float: left;
  margin-left: 65%;
  margin-top:20px;
}
.box2{
  display: inline-block;
  position: relative;
  box-shadow:0px 1px 8px 5px #f4f3f3;
  margin-left: 3.5%;
  margin-top: 40px;
  width: 85%;
  height: 50%;
  border-style: none;
  border-radius: 15px;
  padding: 40px;
}
.white{
  color: white;
}
.text2{
  display: inline-block;
  position: absolute;
  margin-top: 4%;
  margin-left: 48%;
  margin-bottom: 20px;
  width: 44%;
}

.flow{
  display: inline-block;
  position: relative;
  width:37%;
  float: right;
  margin-right: 60%;
  margin-top:10px;
}
.box3{
  display: inline-block;
  position: relative;
  box-shadow:0px 1px 8px 5px #f4f3f3;
  margin-left: 3.5%;
  margin-top: 40px;
  width: 85%;
  height: 50%;
  border-style: none;
  border-radius: 15px;
  padding: 40px;
}

.ready{
  text-align: center;
}

.text3{
  display: inline-block;
  position: absolute;
  margin-top: 4%;
  margin-left: 8%;
  margin-bottom: 20px;
  width: 44%;
}

.users{
  display: inline-block;
  position: relative;
  width:37%;
  float: left;
  margin-left: 60%;
  margin-top:10px;
}

.top-box {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 50%;
}

.top-logo {
  display: inline-block;
  position: relative;
  width: 14%;
  margin-top: 4%;
  margin-left: 3%;
}

.top-text {
  display: inline-block;
  position: absolute;
  margin-top: 14%;
  margin-left: -12%;
  margin-bottom: 20px;
  width: 41%;
}

.window {
  display: inline-block;
  position: relative;
  width: 70%;
  height: 60%;
  float: right;
  margin:auto;
  margin-top: 6.5%;
  margin-right: 3%;
}
